* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #272a31;
  --white: #fff;
  --orange: #ec5242;
  --gray: #d3d3d3;
}

html {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* mobile style start */

header {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

.upper-navbar {
  display: none;
}

.navbar-brand {
  display: none;
}

.lower-navbar .container {
  display: flex;
}

.lower-navbar .nav-menu {
  display: none;
}

/* intro section starts */
/* Header and home start */
.intro-container {
  background: url("../img/main-bg.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bars {
  color: var(--black);
  font-size: 30px;
}

/* intro section starts */

.intro {
  margin-top: 50px;
}

.intro span {
  color: var(--orange);
  line-height: 20px;
  font-size: 24px;
}

.intro h1 {
  color: var(--orange);
  font-family: "COCOGOOSE", sans-serif;
  padding: 10px 0;
  background-image: url("../img/text-bg.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 900;
}

.intro-description {
  line-height: 24px;
  border: 3px solid var(--white);
  padding: 10px;
  margin: 20px 0;
}

.intro small {
  font-size: 18px;
}

.event-date {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 24px;
}

/* our services starts */
.program {
  padding: 20px 0;
  background: url(../img/services-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.program-title,
.speakers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.speakers-title {
  margin-bottom: 80px;
}

.program-title h2 {
  color: var(--white);
  text-align: center;
  padding: 10px 0;
}

.program-title span,
.speakers-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 60px;
  background-color: var(--orange);
}

.program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.activity {
  background-color: rgba(90, 88, 88, 0.392);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.activity img {
  max-width: 40px;
  min-height: 40px;
  display: block;
}

.activity h3 {
  color: var(--orange);
  font-size: 17px;
  flex: 1;
}

.activity p {
  color: var(--white);
  font-size: 14px;
  line-height: 20px;
  flex: 1;
}

.program-mobile {
  background-color: var(--orange);
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.program-desktop {
  display: none;
}

/* personnel starts */
.speakers {
  margin: 40px;
}

.speakers h2 {
  text-align: center;
}

.keynote-speakers {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.speaker {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}

.speaker-bg {
  background: url("../img/transparent-bg.jpeg") 0 0 no-repeat;
  background-size: 100%;
  width: 80px;
  height: 70px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.speaker img {
  width: 150px;
  height: 150px;
}

.speaker-qualification {
  color: var(--orange);
  margin-bottom: 15px;
}

.speaker p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
}

.hide-show-speaker {
  display: none;
}

.btn {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--gray);
  font-weight: bold;
}

.btn span i {
  font-size: 20px;
  position: relative;
  top: 2px;
  padding: 5px;
  color: var(--orange);
}

/* mobile style end */

/* desktop style start */

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
  }

  /* header section starts */
  .bars {
    display: none;
  }

  .upper-navbar {
    display: block;
    background-color: var(--black);
    padding: 8px 0;
  }

  .upper-navbar .container {
    display: flex;
    justify-content: flex-end;
  }

  .upper-navbar .nav-menu,
  .lower-navbar .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upper-navbar .nav-menu li,
  .lower-navbar .nav-menu li {
    padding-right: 15px;
  }

  .upper-navbar .nav-menu li:last-child,
  .lower-navbar .nav-menu li:last-child {
    padding-right: 0px;
  }

  .upper-navbar a {
    color: var(--white);
    font-size: small;
  }

  .navbar-brand {
    display: block;
  }

  .lower-navbar {
    display: block;
    background-color: var(--white);
    background-image: none;
  }

  .lower-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lower-navbar .nav-link a {
    color: var(--black);
    font-weight: 600;
  }

  .nav-link.active a {
    color: var(--orange);
  }

  #events {
    border: 5px solid var(--orange);
    color: var(--orange);
    padding: 5px 18px;
    border-style: dashed;
  }

  .bars {
    display: none;
  }

  /* Intro section starts */
  .intro h1 {
    font-size: 32px;
  }

  .intro span {
    font-size: 28px;
  }

  .intro {
    margin-top: 80px;
    padding: 20px;
  }

  .event-date {
    font-size: 28px;
  }

  /* Our services starts */
  .program-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  .program-mobile {
    display: none;
  }

  .program-desktop {
    display: block;
    text-decoration: underline;
    color: var(--white);
    padding: 20px 0;
    text-align: center;
  }

  .activity {
    flex-direction: column;
    min-height: 220px;
  }

  .activity p {
    text-align: center;
  }

  .keynote-speakers {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
  }

  .btn {
    display: none;
  }

  .hide-show-speaker {
    display: flex;
  }
}
